@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background: url(http://pngimg.com/uploads/pokeball/pokeball_PNG8.png) no-repeat;
    background-position: top center;
    background-size: 100vh;
    min-height: 100vh;
  }
  body {
    /* position: relative; */
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
  }
  h1 {
    @apply my-4;
    @apply text-3xl;
    @apply font-bold;
  }
  h2 {
    @apply my-3;
    @apply text-xl;
    @apply font-bold;
  }
}
